<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TutteeFrame2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TutteeFrame2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <TutteeFrame2.Properties.Settings>
            <setting name="LocalConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=TutteeFrame;Integrated Security=True</value>
            </setting>
        </TutteeFrame2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TutteeFrame2.Properties.Settings>
            <setting name="ServerConnectionString" serializeAs="String">
                <value>Server = {0},{1};Initial Catalog = TutteeFrame;User ID = {2};Password = {3};Integrated Security = False;Connect Timeout = 20; MultipleActiveResultSets = True; </value>
            </setting>
        </TutteeFrame2.Properties.Settings>
    </applicationSettings>
</configuration>
